body {
    margin: 50px;
    font-family: sans-serif;
    background-color:  #E8E8E8;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;            /* full viewport height */
    text-align: center;
    color: aliceblue;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #333;
  color: white;
  padding: 12px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 1000;
  user-select: none;
}

.back-button {
  background: none;
  border: none;
  color: #e8e8e8;
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  max-width: 400px; /* Set a reasonable max width */
  margin: 0 auto; /* Center horizontally */
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: #1D4355;
  font-family:Arial, Helvetica, sans-serif;
  align-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #b8eeee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.waves-img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.sobrenós {
  max-width: 400px; /* Set a reasonable max width */
  margin: 0 auto; /* Center horizontally */
  height: fit-content;
  padding: 20px;
  background-color: #8ed6d6;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid;
  gap: 0px;
}

.sobrenós img {
  padding: 0;
  margin: 0;
  width: 100%; /* Make it stretch to the full width of its parent */
  max-width: 100%; /* Prevent overflow */
}

.edit-profile {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background:  #7ac7c7;
  border-radius: 12px;
  align-content: center;
  align-items: center;
}
